body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(20, 20, 20);
  color: white;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(30, 30, 30);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgb(35, 35, 35);
}

th {
  background-color: rgb(35, 35, 35);
}

.star-container {
  display: inline-block;
}

.star-icon {
  vertical-align: middle;
  width: 1em;
  height: 1em;
}
.progress-container {
  width: 100%;
  background-color: #555;
  border-radius: 4px;
}

.progress-bar {
  height: 20px;
  background-color: #ffffff;
  width: 0%;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.title-container {
  text-align: center;
  margin-top: 20px;
}

.title-container h2 {
  font-size: 24px;
  font-weight: bold;
}

#Contributions {
  color: #00ff00; 
  text-shadow: 0 0 5px rgba(0, 255, 0, 0.5); 
}

#toggleParticlesBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #444444;
  color: #ffffff;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

#toggleParticlesBtn:hover {
  border-color: #666;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 42, 42, 0.8);
  z-index: 1000;
  display: none; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  color: #00ff00; 
  text-shadow: 0 0 5px rgba(0, 255, 0, 0.5); 
}

.overlay h1, .overlay p {
  margin: 10px 0;
}